  <!--<div class="col-md-1 bg-blue hidden-sm hidden-xs">
    <p class="box-title">Text</div>
  </div>
  <div class="col-md-1 bg-blue hidden-sm hidden-xs">
    <p class="box-title">Boxes</div>
  </div>
  <div class="col-md-2 bg-blue hidden-sm hidden-xs">
    <p class="box-title">Buttons</div>
  </div>
  <div class="col-md-3 bg-blue hidden-sm hidden-xs">
    <p class="box-title">Group of 4</div>
  </div>
  <div class="col-md-5 bg-blue hidden-sm hidden-xs">
    <p class="box-title">Group of 6</div>
  </div>-->
<div class="row">
  <h1>Colour palette</h1>
  <h3 class="marg-bot-25">Primary, secondary & grey Palettes</h3>

  <!--Secondary-->

      <p class="title">Text</p>
    <div class="col-md-1 col-xs-5 center box">
      <div class="circle circle--grey"></div>
    <p class="col-title matisse">ship grey<br>#414042</p>
    </div>

    <div class="col-md-1 col-xs-5 center box">
    <div class="circle circle--gallery"></div>
    <p class="col-title astral">gallery<br>#EAEAEA</p>
    </div>


  </div><!--row end-->

  <!--Primary-->
  <div class="row">
    <p class="title">Primary</p>
  <div class="col-md-1 col-xs-5 center box">
    <div class="circle circle--matisse"></div>
  <p class="col-title matisse">matisse<br>#206095</p>
  </div>

  <div class="col-md-1 col-xs-5 center box">
  <div class="circle circle--astral"></div>
  <p class="col-title astral">astral<br>#3B7A9E</p>
  </div>

  <div class="col-md-1 col-xs-5 center box">
  <div class="circle circle--salem"></div>
  <p class="col-title salem">salem<br>#0F8243</p>
    </div>

    <div class="col-md-1 col-xs-5 center box">
  <div class="circle circle--carrot"></div>
  <p class="col-title carrot">carrot<br>#FF9933</p>

    </div>

    <div class="col-md-1 col-xs-5 center box">
  <div class="circle circle--poppy"></div>
  <p class="col-title poppy">poppy<br>#D32F2F</p>

    </div>
</div><!--Row end-->


<!--Secondary-->

<div class="row">
    <p class="title">Secondary</p>
  <div class="col-md-1 col-xs-5 center box">
    <div class="circle circle--matisse"></div>
  <p class="col-title matisse">matisse<br>#206095</p>
  </div>

  <div class="col-md-1 col-xs-5 center box">
  <div class="circle circle--astral"></div>
  <p class="col-title astral">astral<br>#3B7A9E</p>
  </div>

  <div class="col-md-1 col-xs-5 center box">
  <div class="circle circle--salem"></div>
  <p class="col-title salem">salem<br>#0F8243</p>
    </div>

    <div class="col-md-1 col-xs-5 center box">
    <div class="circle circle--salem"></div>
    <p class="col-title salem">salem<br>#0F8243</p>
      </div>

      <div class="col-md-1 col-xs-5 center box">
      <div class="circle circle--salem"></div>
      <p class="col-title salem">salem<br>#0F8243</p>
        </div>

    <div class="col-md-1 col-xs-5 center box">
  <div class="circle circle--carrot"></div>
  <p class="col-title carrot">carrot<br>#FF9933</p>

    </div>

    <div class="col-md-1 col-xs-5 center box">
  <div class="circle circle--poppy"></div>
  <p class="col-title poppy">poppy<br>#D32F2F</p>

    </div>
</div><!--row end-->
