  <!--Tally-->
  <div class="borderbox">
    <div><button type="button" id="minus" class="minus">-</button></div>
    <div style="text-align: center;"><input type="number" id="typenumber" value=0 class="typenumber"></div>
      <div><button type="button" id="plus" class="plus">+</button></div>
  </div>
