<style>


.minus{
  z-index: 900;
}

button#plus.plus{
  float:left;
}
button {
  width: 18.6%;
  height: 30px;
  float: left;
  background-color: #1b5f97;
  color: #fff;
  border: 2px solid #1b5f97;
  /* box-sizing: border-box; */
  font-size: 27px;
  text-align: center;

}

button:focus{
  outline: 3px solid #f93;
}

.typenumber {
  width: 61.5%;
  height: 29.5px;
  float: left;
  border: solid transparent;
  box-sizing: border-box;
  text-align: center;
  color: #1b5f97;
  z-index: -1;
  margin-left:2px;
}

.typenumber:focus{
 outline: 3px solid #f93;
 position: relative;
}
.borderbox{
  border: 2px solid #1b5f97;
  height:33.5px;
  padding-left: 0px;
  padding-right: 0px;
  float:left;
}



</style>

<div class="row">
  <div class="borderbox">
    <div><button type="button" id="minus" class="minus">-</button></div>
    <div><input type="text" id="typenumber" value=0 class="typenumber"></div>
      <div><button type="button" id="plus" class="plus">+</button></div>
    <!-- </div> -->
    </div>
</div>



    <script>
      document.getElementById("plus").addEventListener("click", function() {
        var typenumber = document.getElementById("typenumber").value
        document.getElementById("typenumber").value = +typenumber + 1
      })
      document.getElementById("minus").addEventListener("click", function() {
        if (document.getElementById("typenumber").value > 0) {
          var typenumber = document.getElementById("typenumber").value
          document.getElementById("typenumber").value = +typenumber - 1
        }
      })
    </script>
