  <!--Button Group Selection with icon-->
<div>
  <legend>Button group with Icon</legend>
    <div role="group" class="btn-group" data-toggle="buttons">
    <button class="btn btn--select btn--education" aria-labelledby="education">
      <input type="radio" name="options" id="option1" autocomplete="off"> Education
    </button>
    <button class="btn btn--select btn--income" aria-labelledby="income">
      <input type="radio" name="options" id="option2" autocomplete="off"> Income
    </button>
    <button class="btn btn--select btn--job" aria-labelledby="job">
      <input type="radio" name="options" id="option3" autocomplete="off"> Job
    </button>
  </div>
</div>

  <!--Button Group Selection without icon-->
<div>
  <fieldset>
  <legend class="marg-top">Button group without Icon</legend>
  <div role="group" class="btn-group" data-toggle="buttons">
    <div class="btn btn--select " aria-labelledby="education">
      <input type="radio" name="options" id="option1" autocomplete="off" tabindex="0"><label for="option1">5 to 10</label>
    </div>
    <div class="btn btn--select " tabindex="0" aria-labelledby="income">
      <input type="radio" name="options" id="option2" autocomplete="off" tabindex="0"><label for="option2">11 to 15</label>
    </div>
    <div class="btn btn--select " tabindex="0" aria-labelledby="job">
      <input type="radio" name="options" id="option3" autocomplete="off" tabindex="0"><label for="option3">16 - 20</label>
    </div>
  </div>
  </fieldset>
</div>
