
input.chosen-search-input {
  text-align:left!important;
  height: 40px;
  text-align: right;
  padding-right:5px !important;
}
[attribute=data-option-array-index]{
  background-color: #000!important;
}
input:focus,select:focus {
 // /* outline:2px solid #f93!important; */
 outline-offset:-2px;
 z-index:1
}
#select1{
  background-color: #206095!important;
}
#select2{
  background-color: #0F8243!important;
}
#select3{
  background-color: #00A5A1!important;
}
#select4{
  background-color: #e78ac3!important;
}
#select5{
  background-color: #a6d854!important;
}
.chosen-choices:focus{
  outline:none;
  box-shadow:0px -1px 0 3px #FFA23A;
}


/*.search-choice:nth-child(1) {
    background-color: #206095 !important;
}

.search-choice:nth-child(2) {
    background-color: #0F8243 !important;
}

.search-choice:nth-child(3) {
    background-color:  #00A5A1 !important;
}

.search-choice:nth-child(4) {
    background-color:  #e78ac3 !important;
}

.search-choice:nth-child(5) {
    background-color:  #a6d854 !important;
}

.search-choice:nth-child(6) {
    background-color:  #666 !important;
}
*/
.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 3px 3px 5px;
    padding: 3px 20px 3px 5px;
    background-color: #0084d1;
    background-clip: padding-box;
    color: #fff !important;
    font-weight: 700!important;
    line-height: 20px;
    cursor: default;
  }
  input.chosen-search-input {
    text-align: left !important;
    height: 40px;
    text-align: right;
    padding-right: 5px !important;
  }

  input:focus,
  select:focus {
    outline-offset: -2px;
    z-index: 1
  }
// .chosen-choices:active {
//   outline: none;
//   box-shadow: 0px -1px 0 3px #FFA23A;
// }
//
// #droppy2_chosen:active{
//   outline: none;
//   box-shadow: 0px -1px 0 3px #FFA23A;
// }
