body {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3 {
  margin: 0; }

/*Margins*/
.m-top {
  margin-top: 15px;
  padding-bottom: 0;
  margin-bottom: 4px; }

.marg-bot-25 {
  margin-bottom: 25px; }

/*Margins end*/
.tgl-play:checked + .tgl-btn {
  background: #008e49; }

.tgl-play + .tgl-btn {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-weight: 600;
  transition: background-color 0.25s ease-out;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background-color: #008e49; }

.tgl + .tgl-btn {
  display: inline-block;
  width: 128px;
  height: 48px;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding-top: 8px;
  font-size: 18px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.tgl-play:checked + .tgl-btn:before {
  left: -100%; }

.tgl-pause:checked + .tgl-btn:before {
  top: -58%; }

.tgl-play + .tgl-btn:before {
  left: -11px;
  top: 3px;
  background-image: url(https://onsdigital.github.io/dp-design-manual/images/play-white.svg);
  background-repeat: no-repeat;
  background-position-x: 2px; }

.tgl-play + .tgl-btn:after, .tgl-play + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  color: #fff; }

.tgl + .tgl-btn:before {
  display: none; }

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  width: 50%;
  height: 100%; }

.tgl + .tgl-btn:after {
  content: "Pause"; }

.tgl + .tgl-btn:before {
  content: "Play"; }

.tgl-play:checked + .tgl-btn:after {
  left: -12px; }

.tgl:checked + .tgl-btn:after {
  left: -10;
  top: -37px; }

.tgl-play + .tgl-btn:after {
  left: 100%;
  background-image: url(https://onsdigital.github.io/dp-design-manual/images/pause-white.svg);
  background-repeat: no-repeat;
  background-position-x: 2px; }

.tgl-play + .tgl-btn:after, .tgl-play + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  color: #fff; }

input[type=checkbox], input[type=radio] {
  display: none; }

.tgl + .tgl-btn:after {
  left: 130px;
  top: -37px; }

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  width: 100%;
  height: 100%; }

.tgl-play:checked + .tgl-btn {
  background: #206095; }

.tgl-play + .tgl-btn {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-weight: 600;
  transition: background-color 0.25s ease-out;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background-color: #008e49; }

.tgl + .tgl-btn {
  display: inline-block;
  width: 128px;
  height: 48px;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding-top: 8px;
  font-size: 18px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn_setting {
  padding-left: 44px !important;
  max-width: 170px !important; }
  .btn_setting:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f013";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3em;
    position: absolute;
    left: 30px;
    top: 12px; }

.btn_location {
  padding-left: 44px !important;
  max-width: 290px !important; }
  .btn_location:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3c5";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3em;
    position: absolute;
    left: 24px;
    top: 12px; }

.btn_next {
  padding-left: 30px !important;
  max-width: 140px !important; }
  .btn_next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900 !important;
    content: "\f0da";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1.6em;
    position: absolute;
    left: 24px;
    top: 10px; }

.btn_prev {
  padding-left: 30px !important;
  max-width: 170px !important; }
  .btn_prev::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900 !important;
    content: "\f0d9";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1.6em;
    position: absolute;
    left: 24px;
    top: 10px; }

.btn_pause {
  padding-left: 44px !important;
  max-width: 150px !important; }
  .btn_pause:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f28b";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3em;
    position: absolute;
    left: 24px;
    top: 12px; }

.btn_play {
  padding-left: 44px !important;
  max-width: 150px !important; }
  .btn_play:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f144";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3em;
    position: absolute;
    left: 24px;
    top: 12px; }

.btn--green {
  background-color: #008e49 !important;
  box-shadow: 0 3px 0 0 #015f31; }
  .btn--green:hover {
    background-color: #00784a !important; }

.btn--blue {
  background-color: #174363 !important;
  box-shadow: 0 3px 0 0 #072d49; }
  .btn--blue:hover {
    background-color: #124d80 !important; }

.btn {
  position: relative;
  padding: 12px 18px;
  margin: 0;
  line-height: normal;
  color: #fff;
  font-size: 1.3em !important;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0px !important;
  display: inline-block;
  text-rendering: optimizeLegibility;
  width: 100%;
  transition: background-color .2s ease-in, color .2s ease-in; }
  .btn:hover {
    color: #fff; }
  .btn:active {
    top: 3px; }
  .btn:focus {
    outline: 3px solid #fe781f;
    box-shadow: 0px !important;
    color: white;
    outline-offset: 0px; }
  .btnactive:focus {
    outline: 0; }

/*Colours*/
.w--10 {
  width: 120px !important; }

.center {
  text-align: center; }

.bg-blue {
  background-color: #1b5f97;
  border-right: 2px solid #fff; }

.box {
  border: 2px solid #ccc;
  padding: 0;
  margin-right: 15px;
  margin-bottom: 15px; }

.row {
  margin: 0;
  padding: 20px 20px 0; }

.circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: block;
  margin: 20px auto; }

.poppy {
  color: #d32f2f; }

.astral {
  color: #3B7A9E; }

.matisse {
  color: #206095; }

.salem {
  color: #0F8243; }

.onsblue {
  color: #003C57; }

.carrot {
  color: #FF9933; }

.circle--grey {
  background-color: #414042; }

.circle--gallery {
  background-color: #eaeaea; }

.circle--matisse {
  background-color: #206095; }

.circle--astral {
  background-color: #3B7A9E; }

.circle--poppy {
  background-color: #D32F2F; }

.circle--salem {
  background-color: #0F8243; }

.circle--onsblue {
  background-color: #003C57; }

.circle--onsgreen {
  background-color: #A8BD3A; }

.circle--teal {
  background-color: #008080; }

.circle--carrot {
  background-color: #FF9933; }

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 5px; }

.col-title {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  border-top: 2px dashed #ccc; }

.box-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 12px 0; }

.grid-row .row [class^=col-] {
  border-right: 3px solid #fff;
  background-color: #eeeeee;
  margin-bottom: 15px;
  padding: 10px; }

.divider {
  border-bottom: 1px solid #999999; }

.input {
  border: solid 2px #206095;
  line-height: 2em;
  min-height: 47px; }

.select {
  border: 2px solid #1b5f97;
  border-radius: 0px;
  -webkit-appearance: none;
  position: relative;
  padding: 12px 5rem 12px 2rem;
  background-size: 1rem;
  line-height: 1.9rem;
  background: #fff url("/assets/img/icons--chevron-down.svg") no-repeat center right 0px;
  width: 100%;
  cursor: pointer; }
  .select:focus {
    outline: none;
    box-shadow: 0 0 0 3px #fe781f; }

.select-wrapper {
  position: relative;
  display: inline-block; }

.ns {
  box-shadow: none !important;
  border-radius: 0px !important; }
  .ns:active {
    top: 0 !important; }
