<style>
.textarea:focus{
  outline: none;
box-shadow: 0 0 0 3px #fe781f;
}
</style>

<div class="row">
  <div class="col-sm-4">
    <label class="text--label h3" for="text-input">Enter some text</label>
    <p class="textarea-text">For example describe any difficulties you experienced in the use of this service</p>
    <textarea name="Text" class="textarea" cols="40" rows="5" maxlength="100"></textarea>
    <div class="input__limit" data-qa="textarea-with-limit" id="textarea-answer-lim-remaining" aria-live="polite">You have <span id="char-count">100</span> characters remaining</div>
  </div>
</div>
