<style>
.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .colors {
    grid-template-columns: 1fr 1fr;
  }
}
</style>

<div class="colors">
  <div class="color">
    <div style="background: #FAE042;"></div>
    <span>#FAE042</span><br>
    <span>rgba(250,224,66,1)</span>
  </div>

  <div class="color">
    <div style="background: #EFBB35;"></div>
    <span>#EFBB35</span><br>
    <span>rgba(239,187,53,1)</span>
  </div>

  <div class="color">
    <div style="background: #DFA612;"></div>
    <span>#DFA612</span><br>
    <span>rgba(223,166,18,1)</span>
  </div>
</div>

<p class="error-msg">
  Can't copy, hit Ctrl+C!
</p>
