<div class="row">
  <div class="col-sm-8">
    <h3 style="margin-bottom:15px;">Primary Button</h3>
  <button class="btn btn--primary btn--green">
    Primary button
</button>

<!--<button class="btn btn--primary btn--primary-disabled btn--green">
    Primary button (disabled)
</button>-->
</div>
</div>
<div class="row" style="padding: 20px 34px 0;">
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-b5a676d0cfe2fccee444d20071060c39-panel-html">
<code class="Code Code--lang-html" style="background-color: #fff;">
<pre id="p1">
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--primary btn--green"</span>&gt;</span>
Primary button
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="trigger"><button onclick="copyToClipboard('#p1')" class="copy-btn" data-tooltip-id="1" style="border: none; background: none;border: solid 1px #008e49;"></button>
</span>

</pre>
</code>
</div>
</div>
<!-- Secondary button -->
<div class="row">
<div class="col-sm-8">
  <h3 style="margin-bottom:15px;">Secondary Button</h3>
  <button class="btn btn--secondary btn--blue">
    Secondary button
</button>
</div>
</div>
<div class="row" style="padding: 20px 34px 0;">
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-b5a676d0cfe2fccee444d20071060c39-panel-html">
<code class="Code Code--lang-html" style="background-color: #fff;">
  <pre id="p2">
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--secondary btn--blue"</span>&gt;</span>
Secondary button
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="trigger"><button onclick="copyToClipboard('#p2')" class="copy-btn" data-tooltip-id="2" style="border: none; background: none;border: solid 1px #008e49;"></button>
</span>
  </pre>
</code>
</div>
</div>

<!-- next button -->
<div class="row">
<div class="col-sm-8">
  <h3 style="margin-bottom:15px;">Next</h3>
  <button class="btn btn--primary btn--green">
    Next <i class="fas fa-chevron-right"></i>
</button>
</div>
</div>
<div class="row" style="padding: 20px 34px 0;">
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-b5a676d0cfe2fccee444d20071060c39-panel-html">
<code class="Code Code--lang-html" style="background-color: #fff;">
  <pre id="p2">
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--primary btn--green"</span>&gt;</span>
Next <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-chevron-right"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="trigger"><button onclick="copyToClipboard('#p2')" class="copy-btn" data-tooltip-id="2" style="border: none; background: none;border: solid 1px #008e49;"></button>
</span>
  </pre>
</code>
</div>
</div>
