<div class="row">
  <div class="col-sm-8">
    <h3 style="margin-bottom:15px;">Primary buttons</h3>
  <button class="btn btn--primary btn--green">
    Primary button
</button>

<!--<button class="btn btn--primary btn--primary-disabled btn--green">
    Primary button (disabled)
</button>-->
</div>
</div>
<div class="row" style="padding: 20px 34px 0;">

<!--Highlight syntax-->
<pre id="p1"><code class="hljs xml">&lt;button class="btn btn--primary btn--green">Primary button&lt;/button></code>
  <span class="trigger"><button onclick="copyToClipboard('#p1')" class="copy-btn" data-tooltip-id="1" style="border: none; background: none;border: solid 1px #008e49;"></button>
  </span>
</pre>
</div>

<!-- Secondary button -->
<div class="row">
<div class="col-sm-8">
  <h3 style="margin-bottom:15px;">Secondary buttons</h3>
  <button class="btn btn--secondary btn--blue">Secondary button</button>
</div>
</div>
<div class="row" style="padding: 20px 34px 0;">
  <!--Highlight syntax-->
<pre id="p2"><code class="hljs xml">&lt;button class="btn btn--secondary btn--blue">Secondary button&lt;button></code>
  <span class="trigger"><button onclick="copyToClipboard('#p2')" class="copy-btn" data-tooltip-id="1" style="border: none; background: none;border: solid 1px #008e49;"></button>
  </span>
</pre>
</div>

<!-- next button -->
<div class="row">
<div class="col-sm-8">
  <h3 style="margin-bottom:15px;">Start buttons</h3>
  <button class="btn btn--primary btn--green">
    Start <i class="fas fa-chevron-right"></i>
</button>
</div>
</div>
<div class="row" style="padding: 20px 34px 0;">
  <!--Highlight syntax-->
<pre id="p3"><code class="hljs xml">&lt;button class="btn btn--primary btn--green">Start &lt;i class="fas fa-chevron-right">&lt;/i>&lt;button></code>
  <span class="trigger"><button onclick="copyToClipboard('#p3')" class="copy-btn" data-tooltip-id="1" style="border: none; background: none;border: solid 1px #008e49;"></button>
  </span>
</pre>
</div>
