    <div class="row">
      <div class="col-sm-6">
        <h2 style="margin-bottom: 8px;">Error Message</h2>
        <p>Use an error message when there is a validation error. Explain what went wrong and how to fix it.</p>
        <div class="error_message">
          <p style="font-weight:bold;font-size:1.2em;padding: 0;margin-top: 0;">There is a problem</p>
          <p class="error_text"><a href="#">Please select a dropdown option</a></p>
        </div>
        </div>
      </div>
