<legend>Error Message</legend>
<p>Use an error message when there is a validation error. Explain what went wrong and how to fix it.</p>
<div class="error_message">
  <p class="error_title">There is a problem</p>
  <p class="error_text"><a href="#">Please select a dropdown option</a></p>
</div>
