<legend>Results boxes</legend>
<p>Box</p>

  <div class="results_box results_box--blue">
    <h3>Lorem ipsum dolor sit</h3>
    <div class="results_text">00 years</div>
  </div>

<p>Box explainer</p>
<div class="results_box results_box--red">
  <h3>Lorem ipsum dolor sit</h3>
  <div class="results_text--sml">00 years</div>
  <p>Lorem ipsum dolor sit amet, consectetuer
adipiscing elit, sed diam nonummy nibh
euismod tincidunt ut laoreet dolore magna
aliquam erat volutpat. Ut wisi enim ad </p>
</div>

<p>Box outline</p>
<div class="results_box results_box--outline">
  <h3>In total, you will pay</h3>
  <div class="results_text--outline">£00.00</div>
</div>
