<div class="row">
  <fieldset>
      <legend class="">Legend</legend>
      <p>Use the fieldset component to group related form inputs</p>
      <div class="date-group">
        <div class="date-input-group">
            <label class="date-input-label" for="dob-day">
              Day
            </label>
            <input class="date-input date-input-box" id="dob-day" placeholder="DD" name="dob-day" type="number" pattern="[0-9]*" min="1" max="31">
          </div>

        <div class="govuk-date-input__item">
          <div class="date-input-group">
            <label class="date-input-label" for="dob-month">
              Month
            </label>
            <select class="input input--select" id="date-range-from-month" name="date-range-from-month">
                          <option value="" disabled="disabled" selected="selected">Select month</option>
                          <option value="1">January</option>
                          <option value="2">February</option>
                          <option value="3">March</option>
                          <option value="4">April</option>
                          <option value="5">May</option>
                          <option value="6">June</option>
                          <option value="7">July</option>
                          <option value="8">August</option>
                          <option value="9">September</option>
                          <option value="10">October</option>
                          <option value="11">November</option>
                          <option value="12">December</option>
            </select>
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="date-input-group">
            <label class="date-input-label" for="dob-year">
              Year
            </label>
            <input class="date-input year-input-box" id="dob-year" placeholder="YYYY" name="dob-year" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>
  </fieldset>

      <!--Highlight syntax-->
    <pre id="p1">
      <code class="hljs xml">
        &lt;fieldset>
            &lt;legend class="">Legend&lt;/legend>
            &lt;p>Use the fieldset component to group related form inputs&gt;p>
            &lt;div class="date-group">
              &lt;div class="date-input-group">
                  &lt;label class="date-input-label" for="dob-day">
                    Day
                  &lt;/label>
                  &lt;input class="date-input date-input-box" id="dob-day" placeholder="DD" name="dob-day" type="number" pattern="[0-9]*" min="1" max="31">
                &lt;/div>

              &lt;div class="govuk-date-input__item">
                &lt;div class="date-input-group">
                  &lt;label class="date-input-label" for="dob-month">
                    Month
                  &lt;/label>
                  &lt;select class="input input--select" id="date-range-from-month" name="date-range-from-month">
                                &lt;option value="" disabled="disabled" selected="selected">Select month&gt;option>
                                &lt;option value="1">January&lt;/option>
                                &lt;option value="2">February&lt;/option>
                                &lt;option value="3">March&lt;/option>
                                &lt;option value="4">April&lt;/option>
                                &lt;option value="5">May&lt;/option>
                                &lt;option value="6">June&lt;/option>
                                &lt;option value="7">July&lt;/option>
                                &lt;option value="8">August&lt;/option>
                                &lt;option value="9">September&lt;/option>
                                &lt;option value="10">October&lt;/option>
                                &lt;option value="11">November&lt;/option>
                                &lt;option value="12">December&lt;/option>
                  &lt;/select>
              &lt;/div>
              &lt;/div>
              &lt;div class="govuk-date-input__item">
                &lt;div class="date-input-group">
                  &lt;label class="date-input-label" for="dob-year">
                    Year
                  &lt;/label>
                  &lt;input class="date-input year-input-box" id="dob-year" placeholder="YYYY" name="dob-year" type="number" pattern="[0-9]*">
                &lt;/div>
              &lt;/div>
            &lt;/div>
        &lt;/fieldset>
      </code>
        <span class="trigger"><button onclick="copyToClipboard('#p1')" class="copy-btn" data-tooltip-id="1" style="border: none; background: none;border: solid 1px #008e49;"></button>
        </span>
    </pre>
</div>
