<div class="row">
<h3>Typography scale</h3>
Point sizes for desktop and mobile
</div>

<div class="row">
  <div class="col-sm-4" style="padding:10px;font-weight: 900;background-color:#206095;color:#fff;margin-right:10px;">
Small (up to 767px) font/leading
</div>
<div class="col-sm-4" style="padding:10px;font-weight: 900;background-color:#206095;color:#fff;">
Small (up to 767px) font/leading
</div>
</div>
<div class="row" style="border-bottom: 1px solid #e0e0e0;padding-bottom: 20px;">
  <div class="col-sm-4">
  <h1>Heading XL</h1>
  Open Sans Bold – 32px/40px
  </div>
  <div class="col-sm-4">
  <h1>Heading XL</h1>
  Open Sans Bold – 38px/48px
  </div>
</div>

<div class="row" style="border-bottom: 1px solid #e0e0e0;padding-bottom: 20px;">
  <div class="col-sm-4">
  <h2>Heading L</h2>
  Open Sans Bold – 24px/32px
  </div>
  <div class="col-sm-4">
  <h2>Heading L</h2>
  Open Sans Bold – 30px/40px
  </div>
</div>

<div class="row" style="border-bottom: 1px solid #e0e0e0;padding-bottom: 20px;">
  <div class="col-sm-4">
  <h3>Heading S</h3>
  Open Sans Bold – 18px/24px
  </div>
  <div class="col-sm-4">
  <h3>Heading S</h3>
  Open Sans Bold – 24px/32px
  </div>
</div>

<div class="row" style="border-bottom: 1px solid #e0e0e0;padding-bottom: 20px;">
  <div class="col-sm-4">
  <p style="margin: 0; padding: 0;">Paragraph S</p>
  Open Sans Regular– 16px/22px
  </div>
  <div class="col-sm-4">
  <p style="margin: 0; padding: 0;">Paragraph S</p>
  Open Sans Regular– 18px/25px
  </div>
</div>

<div class="row" style="">
  <div class="col-sm-8">
    <h3>Display styles</h3>
    A guide to font use e.g. Define heading, question, body copy sizes, etc. Can we label these appropriately (e.g. question text, field text, example text, etc.?)
  </div>
</div>
