<legend>Typography scale</legend>
<p style="margin:0 0 20px;">Point sizes for desktop and mobile</p>

  <div class="col-sm-6" style="padding:0;">
    <div style="padding:10px;font-weight: 900;background-color:#206095;color:#fff;margin-right:10px;">
      Small (up to 767px) font/leading
    </div>
      <div class="divider">
        <h1>Heading XL</h1>
        <p>Open Sans Bold – 32px/40px</p>
      </div>
      <div class="divider">
        <h2>Heading L</h2>
        <p>Open Sans Bold – 24px/32px</p>
      </div>
      <div class="divider">
        <h3>Heading S</h3>
        <p>Open Sans Bold – 18px/24px</p>
      </div>
      <div class="divider">
        <p style="font-weight:bold;">Paragraph S</p>
        <p>Open Sans Regular– 16px/22px</p>
    </div>
</div>

  <div class="col-sm-8" style="padding:0;">
    <div class="divider">
    <h3>Display styles</h3>
    A guide to font use e.g. Define heading, question, body copy sizes, etc. Can we label these appropriately (e.g. question text, field text, example text, etc.?)
  </div>
</div>
