  <fieldset>
      <legend class="legend-label">Select all that apply</legend>
      <div class="field__item js-focusable-box">
          <input class="input input--checkbox js-focusable" name="checkbox-answer" value="bacon" id="bacon" type="checkbox">
          <label class="label label--inline venus " for="bacon">Bacon</label>
      </div>
      <div class="field__item js-focusable-box">
          <input class="input input--checkbox js-focusable" name="checkbox-answer" value="olives" id="olives" type="checkbox">
          <label class="label label--inline venus " for="olives">Olives</label>
      </div>
      <div class="field__item js-focusable-box">
          <input class="input input--checkbox js-focusable" name="checkbox-answer" value="wine" id="wine" type="checkbox">
          <label class="label label--inline venus " for="wine">Wine</label>
          <div class="field__other field__block">
              <label class="label reveal" for="other-answer" id="label-checkbox-other-input">Please specify type</label>
              <input id="other-answer" name="other-answer-mandatory" data-qa="other-option" type="text" class="input js-focusable">
          </div>
      </div>
  </fieldset>
