.input{
  border: none;
  padding: 0;
}
.select{
  border: 2px solid #1b5f97;
border-radius: 0px;
-webkit-appearance: none;
position: relative;
padding: 12px 5rem 12px 2rem;
background-size: 1rem;
line-height: 1.9rem;
background: #fff url("/assets/img/icons--chevron-down.svg") no-repeat center right 0px;
width: 100%;
cursor: pointer;

  &:focus{
    outline: none;
  box-shadow: 0 0 0 3px #fe781f;
  }
}

.period{
border: 2px solid #A6A8AB;
    height: 40px;
    font-size: 16px;
  }
.select-wrapper{
  position: relative;
  display: inline-block;
}

.ns {
  box-shadow: none !important;
  border-radius: 0px !important;

  &:active {
    top: 0 !important;
  }
}
.input-window {
  position: relative;

    &::before{
      content: "£";
      position:absolute;
      height: 40px;
      width: 40px;
      font-size: 21px;
      padding-top: 6px;
      background-color: #a6a8ab;
      color: #fff;
      text-align: center;
      float: left;
      font-weight: 600;
      box-sizing: border-box;
    }
}
