<div class="row">
  <div class="col-sm-4">
    <h3>Select Field<h3>
  <label for="select-1" class="m-top block margin-bottom--1">Select an option</label>
        <select name="select-1" id="select-1" class="select">
            <option value="value-1">First option</option>
            <option value="value-2">Second option</option>
            <option value="value-3">Third option</option>
            <option value="value-4">Fourth option</option>
            <option value="value-5">Fifth option</option>
            <option value="value-6">Sixth option</option>
        </select>
  </div>
</div>
<div class="row m-top">
  <div class="col-sm-4">
    <h3>Basic Field<h3>
    <label for="select-1" class="m-top block margin-bottom--1">Your name</label>
<input class="input input--StringField " value="" placeholder="" id="input-date-range-from-day" name="date-range-from-day">
</div>
</div>
