<div class="row">
      <div class="col-sm-8">
        <h3>Select Field<h3>
          <div style="display:flex;">
        <div class="input-value">
          <form class="input">
            <div class="input-window">
            <input style="text-align: right;height:40px;" id="earnings-input" type="number" min="0" value="0" tabindex="0">
            </div>
          </form>
        </div>
        <div id="dropdown2" style="margin-left: 5px;">
          <select id="period" style="width:99%;float:right;border: 1px solid #A6A8AB; height: 40px;border-radius:0px;font-size: 16px;margin-left:5px;">
            <option value="Per month">Per month</option>
            <option value="Per week">Per week</option>
            <option value="Per year">Per year</option>
          </select>
        </div>
      </div>
      </div>
</div>
<div class="row m-top">
  <div class="col-sm-4">
    <h3>Basic Field<h3>
    <label for="select-1" class="m-top block margin-bottom--1">Your name</label>
<input class="input input--StringField " value="" placeholder="" id="input-date-range-from-day" name="date-range-from-day">
</div>
</div>
