.error{
  color: #D32F2F;
margin: 0;
}

.error--text a{
  color: #D32F2F;
  font-weight: bold;
  text-decoration: underline;
}

.error--message{
  padding: 13px;
border: solid 3px #D32F2F;
margin-bottom: 30px;

p{
  padding: 0;
margin-top: 0;
font-size: 1.2em;
}
}
.error--box{
  padding: 0 0 0 10px;
  border-left: 3px solid #D32F2F;
}
