.error{
  color: #D32F2F;
margin: 0;
}

.error--text a{
  color: #D32F2F;
  font-weight: bold;
  text-decoration: underline;
}
.success--text {
  color: #008340;
  font-weight: bold;
  margin: 0;
}
.error--message{
  padding: 13px;
border: solid 3px #D32F2F;
margin-bottom: 30px;
width:60%;
}
.success--message{
  padding: 13px;
border: solid 3px #008340;
margin-bottom: 30px;
width:60%;
}
p{
  padding: 0;
margin-top: 0;
font-size: 1em;
}

.error--box{
  padding: 0 0 0 10px;
  border-left: 3px solid #D32F2F;
      margin-bottom: 30px;
}
